<!DOCTYPE html>
<html lang="en">
  <!-- <button> tag is added as A11y Change in this page-->
  <!-- (Open Graph tag), (Twitter card tag) are added as SEO Change in this page-->

  <head>
    <meta charset="UTF-8" />
    <title>Budget Manager</title>
    <meta name="og:title" property="og:title" content="Budget Manager" />
    <meta name="twitter:card" content="summary" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" type="text/css" href="/assets/dashboard.css" />

    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
  </head>

  <body class="background">
    <%- include ('./partials/header.ejs',{currentUser}) %>

    <div style="color: white" class="container center">
      <% if (dataSource) { %> <% var data=dataSource %> <% var labels=[] %> <%
      data.labels.forEach(label=> labels.push('"' + label + '"')) %> <% }%>
      <form method="POST" action="/login/dashboard" style="width: 60%; margin: 0 auto;">
        <div class="row justify-content-center">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01"
              >Month</label
            >
          </div>
          <select class="custom-select" id="Month" name="Month">
            <option value="00" selected>Choose...</option>
            <option value="01">January</option>
            <option value="02">February</option>
            <option value="03">March</option>
            <option value="04">April</option>
            <option value="05">May</option>
            <option value="06">June</option>
            <option value="07">July</option>
            <option value="08">August</option>
            <option value="09">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01"
              >Year</label
            >
          </div>
          <select class="custom-select" id="year" name="Year">
            <option value="0" selected>Choose...</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
          </select>
        </div>
        </div>

          <button type="submit" class="btn btn-primary">
            Generate Chart
          </button>
          <button class="btn" type="reset" id="reset">
            Reset
          </button>
      </form>

      <br />

      <% if (month) { %> <% if (month=="00" || year=="0" ) { %>
      <h3>Please select both month and year</h3>
      <% }%> <% if (month=="01" && year!="0") { %>
      <h3>Charts for <b>January <%= (year) %></b></h3>
      <% }%> <% if (month=="02" && year!="0") { %>
      <h3>Charts for <b>February <%= (year) %></b></h3>
      <% }%> <% if (month=="03" && year!="0") { %>
      <h3>Charts for <b>March <%= (year) %></b></h3>
      <% }%> <% if (month=="04" && year!="0") { %>
      <h3>Charts for <b>April <%= (year) %></b></h3>
      <% }%> <% if (month=="05" && year!="0") { %>
      <h3>Charts for <b>May <%= (year) %></b></h3>
      <% }%> <% if (month=="06" && year!="0") { %>
      <h3>Charts for <b>June <%= (year) %></b></h3>
      <% }%> <% if (month=="07" && year!="0") { %>
      <h3>Charts for <b>July <%= (year) %></b></h3>
      <% }%> <% if (month=="08" && year!="0") { %>
      <h3>Charts for <b>August <%= (year) %></b></h3>
      <% }%> <% if (month=="09" && year!="0") { %>
      <h3>Charts for <b>September <%= (year) %></b></h3>
      <% }%> <% if (month=="10" && year!="0") { %>
      <h3>Charts for <b>October <%= (year) %></b></h3>
      <% }%> <% if (month=="11" && year!="0") { %>
      <h3>Charts for <b>November <%= (year) %></b></h3>
      <% }%> <% if (month=="12" && year!="0") { %>
      <h3>Charts for <b>December <%= (year) %></b></h3>
      <% }%> <% }%>
    </div>
    <div style="color: white" class="container center">
      <table>
        <tr>
          <td
            style="
              padding-left: 100px;
              padding-right: 100px;
              padding-bottom: 100px;
            "
          >
            <p>
              <canvas id="myChart" width="400" height="400"></canvas>
            </p>
          </td>
          <td
            style="
              padding-left: 100px;
              padding-right: 100px;
              padding-bottom: 100px;
            "
          >
            <p>
              <canvas id="myBarChart" width="400" height="400"></canvas>
            </p>
          </td>
        </tr>
        <tr>
          <th style="padding-left: 100px; padding-right: 100px">
            <p>
              <canvas id="DoughnutChart" width="400" height="400"></canvas>
            </p>
          </th>
        </tr>
      </table>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"
      integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
      integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg=="
      crossorigin="anonymous"
    ></script>
    <script>


        if (<%= data.datasets[0].data %>) {

        var dataSource = {
            datasets: [
                {
                    data: [<%= data.datasets[0].data %>],
                    backgroundColor: [
                      "#0074D9",
                      "#FF4136",
                      "#2ECC40",
                      "#FF851B",
                      "#7FDBFF",
                      "#B10DC9",
                      "#FFDC00",
                      "#39CCCC",
                      "#39CCCC",
                      "#01FF70",
                      "#85144b",
                      "#F012BE",
                      "#3D9970",
                      "#111111",
                      "#AAAAAA",

                    ],
                }
            ],
            labels: [<%- labels %>],

        };

        function createChart() {
            var ctx = document.getElementById("myChart").getContext("2d");
            var myPieChart = new Chart(ctx, {
                type: 'polarArea',
                data: dataSource,
                options: {
                    legend: {
                        display: true,
                        labels: {
                            fontColor: 'white'
                        }
                    }
                }
            });
        }



        function createDoughnutChart() {
            var ctx = document.getElementById("DoughnutChart").getContext("2d");
            var myPieChart = new Chart(ctx, {
                type: 'doughnut',
                data: dataSource,
                options: {
                    legend: {
                        display: true,
                        labels: {
                            fontColor: 'white'
                        }
                    }
                }
            });
        }

        function createBarChart(type, id, legendDisplay) {
            var ctx = document.getElementById(id).getContext("2d");
            var myPieChart = new Chart(ctx, {
                type: type,
                data: dataSource,
                barPercentage: 0.5,
                barThickness: 6,
                maxBarThickness: 8,
                minBarLength: 2,
                options: {
                    legend: {
                        display: legendDisplay,
                        labels: {
                            fontColor: 'white'
                        }
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,

                                stepValue: 10,
                                fontColor: 'white'
                            }
                        }],
                        xAxes: [{
                            ticks: {
                                fontColor: 'white'
                            },
                        }]
                    }
                }
            });
        }

        createChart();
        createBarChart(type = 'line', id = 'myBarChart', legendDisplay = false);
        createDoughnutChart();
      }
    </script>
  </body>
</html>
